.campaignInstructions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 20px;
}

.imageContainer {
  width: calc(50% - 2rem);
  padding-right: 4rem;
  padding-top: 4rem;
  margin-bottom: 20px;
}

.linksContainer {
  margin-top: 1rem;
}

.linksContainer  a {
  margin-right: 1rem;
}

.image {
  width: 100%;
  height: auto;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}

.socialLegend {
  margin: 0 10px 0 0;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.icon {
  margin: 0 10px;
}

.instructionsContainer {
  width: calc(50% - 1rem);
}

.list {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
}


ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li {
  justify-content: center;
  padding: 15px;
}


.subtitle {
  font-family: 'Merriweather Regular', serif;
  font-size: 1rem;
  line-height: 1.6;
}

.instruction {
  flex-direction: row;
  align-items: flex-start;
}

.title {
  font-family: 'Merriweather Regular', serif;
  font-size: 1.3rem;
  line-height: 1.1;
}

.number {
  font-weight: bold;
  margin-right: 5px;
}

.active {
  color: white !important;
  border-radius: 4px;
/* animation: animateBg 1s linear infinite; */
  background-image: linear-gradient(90deg, #1656d4, #44c8ca, #845ddf, #1656d4, #44c8ca);
  background-size: 400% 100%;
  padding-left: 25px;
  -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-name: fadeIn;
    animation-duration: 1s;
  box-shadow: -3px 4px 42px -20px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -3px 4px 42px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px 4px 42px -20px rgba(0, 0, 0, 0.75);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0.3;
  }

  60% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}

.active li > p {
  color: white;
  transition: 5s;
}


@keyframes animateBg {
  0% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 21%}
    50%{background-position:100% 40%}
    100%{background-position:0% 35%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

@media (max-width: 480px) {
  .campaignInstructions {
    width: 100%;
    flex-direction: column;
  }
  .instructionsContainer {
    width: 100%;
    padding-bottom: 1rem;
  }
  .imageContainer {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageContainer {
      width: 100%;
      padding: 1rem;
    }
  .social {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}