.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-bottom: 2rem;
}

.subtitleMaterials {
  margin-bottom: 0px;
  /* margin-bottom: 50px; */
}