.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.hero .text {
  width: 50%;
  padding: 0 30px;
}

.hero .image {
  width: 50%;
  position: relative;
}

.hero .image img {
  width: 100%;
}

@media (max-width: 768px) {

  .hero .text,
  .hero .image {
    width: 100%;
  }

  .hero .image img {
    height: 100%;
  }
}