.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; /* add this */
  align-items: center; /* add this */
  margin: 5rem 0px;
}

.hero .text {
  width: calc(50% - 1rem);
  padding-right: 1rem;
}

.hero .image {
  width: 50%;
  position: relative;
}

.hero .image img {
  width: 100%;
}

.subtitleHero {
  margin-top: -20px;
}

.hero .text {
  width: calc(50% - 1rem);
}

.hero .image {
  width: 50%;
  position: relative;
}

.hero .image img {
  width: 100%;
}

.paragraphContainer {
  margin-top: 2em;
}

@media (max-width: 468px) {

  .hero{
    width: calc(100% - 1rem);
    flex-direction: column-reverse;
  }

  .hero .text,
  .hero .image {
    width: 100%;
  }

  .hero{
    padding-top: 0;
  }

  .text {
    width: calc(100% - 1rem);
  }
}