.propsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.link {
  width: calc(50% - 1rem);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link a {
  color: #3678ff;
}

.link p {
  max-width: 50%;
  margin: auto;
  text-align: center;
  opacity: .6;
}

.link strong {
  width: 50%;
  text-align: center;
}

.prop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.prop img {
  max-width: 220px;
  height: auto;
  float: left;
  margin-bottom: 2rem;
}

.title {
  margin-top: 10px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #666;
}


@media (max-width: 768px) {
  .prop {
    width: 100%;
    text-align: center;
    align-items: center;
    flex-direction: column;    
  }

  .prop img {
    max-width: 60%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  
  .link {
    width: 100%;  
  }
  .link strong {
    width: 70%;
    text-align: center;
  }
}