@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: url('./fonts/Brandon-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque Medium';
  src: url('./fonts/Brandon-Medium.otf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Regular';
  src: url('./fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}