header {
    margin-top: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.latamLink {
    text-decoration: none;
    /* color: white; */
    font-size: 4rem;
}

.latamLink > h3 {
    color: white;
    background: linear-gradient(271deg, #32f0bf, #365c9b, #7600ff);
    background-size: 600% 600%;
    padding: 10px 10px;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    -o-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 21%
    }

    50% {
        background-position: 100% 40%
    }

    100% {
        background-position: 0% 35%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

.latamLink {
    color: white;
}

.logo img {
    width: 35%; 
    height: auto; 
}

.socialLinks {
    margin-left: 2rem;
}

.navLinks,
.socialLinks {
    list-style: none;
}

.socialLinks li {
    padding: 8px;
}

ul {
    list-style: none;
}

.socialLinks {
    display: flex;
    align-items: center;
}

.socialLinks li a {
    color: black;
    align-items: center;
}
.socialLinks li {
    color: black;
    flex-direction: row;
}

.rightSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.unityText {
    color: var(--text-color);
    font-weight: bold;
}


.socialLinks {
    flex-direction: row;
}

.socialLinks i {
    color: var(--social-icon-color);
    font-size: 32px;
}

/* Media queries para tablet */
@media (max-width: 768px) {
    .logo img {
        height: 30px;
    }
}

/* Media queries para mobile - Ajustar disposición de elementos en el header */
@media (max-width: 480px) {
    header {
        align-items: center;
        padding-bottom: 5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    nav {
        flex-direction: column;
    }
    .logo {
        text-align: center;
    }
    .logo img {
        height: auto;
        width: 80%;
    }

    ul, li {
        padding: 0px
    }

    .socialLinks {
        margin-left: 0px;
    }

    .unityText {
        font-size: 14px;
        margin-top: 10px;
        text-align: center;
    }

    .socialLinks ul {
        flex-direction: row;
    }

    .socialLinks i {
        font-size: 16px;
    }

    .rightSection {
        flex-direction: column;
        gap: 5px;
        justify-content: center;
    }
}
